body{
    background-color: rgb(32, 33, 52);
    font-family: pixel;
}

@font-face {
    font-family: pixel;
    src: url(./fonts/JF-Dot-Kappa20-0213.ttf)
}

h1{
    color:rgb(141, 214, 118);
}

h1,
a{
    text-align: center;
}

a,
ul{
    color:rgb(214, 215, 255);
    font-size: 20px;
}

li {
    margin: 8px 0 8px;
}