body{
    background-color: rgb(32, 33, 52)
}

@font-face {
    font-family: mplus;
    src: url(JF-Dot-Kappa20-0213.ttf);
}

h1{
    font-family: mplus;
    color:rgb(141, 214, 118);
    text-align: center;
}

a{
    font-family: mplus;
    color:rgb(214, 215, 255);
    font-size: 20px;
    text-align: center;
}

ul{
    font-family: mplus;
    color:rgb(214, 215, 255);
    font-size: 20px;
}
